body, html {
	padding: 0;
	margin: 0;
	background-color: #131215;
	color: white;
}

.main {
	width: 100%;
	height: 100%;
	content: "Carto Tangram Viewer";

	.carto-logo {
		position: absolute;
		left: calc(50% - 230px);
		top: calc(50% - 90px);
	}
}

#side {
	width: 300px;
	height: 100%;
	position: absolute;
	z-index: 10;
	left: -250px;
	transition: left ease 0.2s;

	&.open {
		left: 0;

		#side-button {
			transform: rotate(0deg);

			&:hover {
				transform-origin: 2px 17px;
				transform: rotate(180deg);
			}
		}
	}

	#side-button {
		right: 30px;
		top: calc(100% - 40px);
		position: absolute;
		transform-origin: 2px 17px;
		transform: rotate(180deg);

		&:hover {
			transform: rotate(0deg);
		}
	}

	ul {
		width: 250px;
		height: 100%;
		overflow: scroll;
		margin: 0;
		list-style-type: none;
		padding: 0;

		li {
			height: 70px;
			background-repeat: no-repeat;
			background-size: 100%;
			opacity: 0.7;
		}
	}
}

#map {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.label {
    width: 200px;
    margin-left: -100px;
    position: absolute;
    z-index: 100001;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

.labelInner {
    padding: 2px;
    background: white;
    opacity: 0.75;
}

.menu {
	width: 450px;
	position: absolute;
	z-index: 10000;
	background-color: rgba(40, 40, 30, 0.8);
	top: 10px;
	right: 10px;
	border-top: solid #3d3;

	.dir {
		padding: 10px;

		h4.title {
			margin: 0;
		}

		ul.layers {
			color: #3e3;
			padding: 0;

			li {
				margin-left: 10px;

				&.element {
					.cartocss {
						transition: height ease .7s;
						display: none;
						height: 0px;
					}

					.save {
						float: right;
						color: #797;
						margin-right: 5px;
						text-decoration: underline;
					}
				}

				&.element.opened {
					background-color: rgba(0, 0, 0, 0.3);

					.cartocss {
						display: block;
  						height: 400px;
					}
				}
			}

			li:hover {
				color: #3e3;
				background-color: rgba(0, 0, 0, 0.3);
			}
		}
	}
}

input, textarea {
  margin: 10px auto;
  background-color: transparent;
  border: none;
  border-bottom: solid #3d3 1px;
  color: #ddd;
  font-size: 18px;
  width: 90%;
  display: inherit;
}

textarea {
  width: 90%;
  height: 400px;
  color: white;
  /*background-color: rgba(40, 43, 40, 0.8);*/
}

button[type=button] {
  background-color: #ffaa3d;
  color: black;
  border: none;
  margin-top: 20px;
}

button[type=button].send-url {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 13px;
  margin-right: 21px;
}
